---
import Layout from '../layouts/Layout.astro';
import { getEntry } from 'astro:content';

const about = await getEntry('pages', 'about');
const { Content } = await about.render();
---

<Layout title={`${about.data.title} - chan99k`} description={about.data.description}>
	<section class="py-12 max-w-3xl mx-auto">
        <h1 class="text-4xl font-bold mb-8">{about.data.title}</h1>
        <div class="prose prose-lg dark:prose-invert">
            <Content />
        </div>
	</section>
</Layout>
