---
import { SITE } from '../../config/site';

export const prerender = true;
---

<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex" />
		<title>콘텐츠 관리 - {SITE.name}</title>
	</head>
	<body>
		<script is:inline src="https://unpkg.com/decap-cms@3.10.1/dist/decap-cms.js" integrity="sha384-cfeDbz01Pc3d/tDdxwcLyYE9bmTuSm9oSEkaqblVTYBG0eQ3a6koW/K3wUGSd/lG" crossorigin="anonymous"></script>
	</body>
</html>
